<div class="contacts container">
  <div class="contacts__top">
    <h2 class="contacts__top-title">контакты</h2>
    <div class="contacts__top-line"></div>
  </div>
  <div class="contacts__mail">
    <span>По вопросам сотрудничества и дистрибьюции:</span>
    <a href="#"> support@love-is.ru</a>
  </div>
  <div class="contacts__info">
    <div class="contacts__info-table">
      <div class="table-wrapper">
        <div class="table__item">
          <h3 class="table__item-title">Отдел по работе с сетевыми клиентами</h3>
          <span class="table__item-name">Марина Мактабекова</span>
          <a class="table__item-mail" href="#">mm@love-is.ru</a>
          <a class="table__item-phone" href="#">+7 (916) 153-93-19</a>
        </div>
        <div class="table__item">
          <h3 class="table__item-title">Отдел по работе с сетевыми клиентами</h3>
          <span class="table__item-name">Марина Мактабекова</span>
          <a class="table__item-mail" href="#">mm@love-is.ru</a>
          <a class="table__item-phone" href="#">+7 (916) 153-93-19</a>
        </div>
        <div class="table__item">
          <h3 class="table__item-title">Отдел по работе с сетевыми клиентами</h3>
          <span class="table__item-name">Марина Мактабекова</span>
          <a class="table__item-mail" href="#">mm@love-is.ru</a>
          <a class="table__item-phone" href="#">+7 (916) 153-93-19</a>
        </div>
        <div class="table__item">
          <h3 class="table__item-title">Отдел по работе с сетевыми клиентами</h3>
          <span class="table__item-name">Марина Мактабекова</span>
          <a class="table__item-mail" href="#">mm@love-is.ru</a>
          <a class="table__item-phone" href="#">+7 (916) 153-93-19</a>
        </div>
      </div>
      <div class="table-pagination"></div>
    </div>
    <form class="form" action="#" method="post">
      <div class="form__item">
        <input class="form__item-input input-reset" type="text" id="name" name="user_name">
        <label class="form__item-label" for="name">Имя <span>*</span></label>
      </div>
      <div class="form__item">
        <input class="form__item-input input-reset"  value="" type="email" id="mail" name="user_mail">
        <label class="form__item-label" for="mail">E-mail <span>*</span></label>
      </div>
      <div class="form__item">
        <textarea class="form__item-input form__item-textarea input-reset" id="msg" name="user_message"></textarea>
        <label class="form__item-label" for="msg">Message:</label>
      </div>
      <div class="form__item-bot">
        <div class="form__item-bot-info">
          Нажимая “Отправить” Вы соглашаетесь
          на <a href="#">обработку персональных данных</a>
          и с <a href="#">политикой конфиденциальности</a>
        </div>
        <button class="btn-reset form__item-bot-btn" type="submit">Отправить</button>
      </div>
    </form>
  </div>
</div>
