<div class="contacts-social container">
  <div class="contacts__top">
    <h2 class="contacts__top-title">мы в социальных сетях</h2>
    <div class="contacts__top-line"></div>
  </div>
  <div class="contacts-social__list">
    <a href="#" class="contacts-social__list-item" style="background-image: url('../img/contacts-social-1.png')">
      <span class="item-title">тикток</span>
      <img src="../img/footer-tt.svg" alt="tiktok-img" class="item-icon">
    </a>
    <a href="#" class="contacts-social__list-item" style="background-image: url('../img/contacts-social-2.png')">
      <span class="item-title">вконтакте</span>
      <img src="../img/contacts-vk.svg" alt="vk-img" class="item-icon">
    </a>
  </div>
</div>
