<div class="contacts-events container">
  <div class="contacts__top">
    <h2 class="contacts__top-title">события</h2>
    <div class="contacts__top-line"></div>
  </div>
  <div class="contacts-events__slider">
    <div class="events-wrapper">
      <div class="events-item">
        <a href="#" class="events-item__top">
          <img src="../img/events-img-1.png" alt="events-img" />
        </a>
        <span class="events-item__date">30 августа 2021</span>
        <a href="#" class="events-item__title">Диплом конкурса “Выбор сетей” ПРОДЭКСПО 2021</a>
        <span class="events-item__text">Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или ...</span>
      </div>
      <div class="events-item">
        <a href="#" class="events-item__top">
          <img src="../img/events-img-2.png" alt="events-img" />
        </a>
        <span class="events-item__date">23 августа 2021</span>
        <h3 class="events-item__title">Диплом конкурса “Выбор сетей” ПРОДЭКСПО 2021</h3>
        <span class="events-item__text">Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или ...</span>
      </div>
      <div class="events-item">
        <a href="#" class="events-item__top">
          <img src="../img/events-img-3.png" alt="events-img" />
        </a>
        <span class="events-item__date">18 августа 2021</span>
        <h3 class="events-item__title">Диплом конкурса “Выбор сетей” ПРОДЭКСПО 2021</h3>
        <span class="events-item__text">Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или ...</span>
      </div>
      <div class="events-item">
        <a href="#" class="events-item__top">
          <img src="../img/events-img-1.png" alt="events-img" />
        </a>
        <span class="events-item__date">30 августа 2021</span>
        <a href="#" class="events-item__title">Диплом конкурса “Выбор сетей” ПРОДЭКСПО 2021</a>
        <span class="events-item__text">Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или ...</span>
      </div>
      <div class="events-item">
        <a href="#" class="events-item__top">
          <img src="../img/events-img-2.png" alt="events-img" />
        </a>
        <span class="events-item__date">23 августа 2021</span>
        <h3 class="events-item__title">Диплом конкурса “Выбор сетей” ПРОДЭКСПО 2021</h3>
        <span class="events-item__text">Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или ...</span>
      </div>
      <div class="events-item">
        <a href="#" class="events-item__top">
          <img src="../img/events-img-3.png" alt="events-img" />
        </a>
        <span class="events-item__date">18 августа 2021</span>
        <h3 class="events-item__title">Диплом конкурса “Выбор сетей” ПРОДЭКСПО 2021</h3>
        <span class="events-item__text">Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или ...</span>
      </div>
      <div class="events-item">
        <a href="#" class="events-item__top">
          <img src="../img/events-img-1.png" alt="events-img" />
        </a>
        <span class="events-item__date">30 августа 2021</span>
        <a href="#" class="events-item__title">Диплом конкурса “Выбор сетей” ПРОДЭКСПО 2021</a>
        <span class="events-item__text">Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или ...</span>
      </div>
      <div class="events-item">
        <a href="#" class="events-item__top">
          <img src="../img/events-img-2.png" alt="events-img" />
        </a>
        <span class="events-item__date">23 августа 2021</span>
        <h3 class="events-item__title">Диплом конкурса “Выбор сетей” ПРОДЭКСПО 2021</h3>
        <span class="events-item__text">Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или ...</span>
      </div>
      <div class="events-item">
        <a href="#" class="events-item__top">
          <img src="../img/events-img-3.png" alt="events-img" />
        </a>
        <span class="events-item__date">18 августа 2021</span>
        <h3 class="events-item__title">Диплом конкурса “Выбор сетей” ПРОДЭКСПО 2021</h3>
        <span class="events-item__text">Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или ...</span>
      </div>
    </div>
    <div class="events-pagination"></div>
  </div>
</div>
