<div class="product-promo">
  <div class="product-promo__caption">
    <h3>клубника банан</h3>
    <div class="caption-text-top">
      <p>Это редкое сочетание превосходного вкуса сладкой клубники и банана, поможет окунуться в мир воспоминаний, самая “сладкая парочка” из всех вкусов Love is...</p>
    </div>
    <div class="caption-text-bottom">
      <p>Love is... со вкусом клубники и банана на 100% натуральный. Приятный тандем фруктов вас удивит!</p>
    </div>
  </div>
  <div class="product-promo__img">
    <img src="../img/product-promo.png" alt="product-promo">
  </div>
  <div class="product-promo__labels">
    <div class="product-promo__labels-logos">
      <img src="../img/vegan.svg" alt="logo">
      <img src="../img/new.svg" alt="logo">
    </div>
    <ul class="product-promo__labels-list">
      <li>натуральные ингредиенты</li>
      <li>содержит натуральный сок</li>
    </ul>
  </div>
</div>

