<section id="lemonade" class="section-promo section-lemonade">
  <div class="container">
    <div class="section-promo__top section-lemonads__top">
      <div class="section-promo__top-line"></div>
      <h2 class="section-promo__top-title section-lemonads-title">lemonads</h2>
    </div>
    <div class="section-promo__info section-lemonads__info">
      <img src="../img/promo-1.png" alt="lemonads">
      <div class="section-promo__info-caption">
        <div class="caption-title">
          <h3 >лимонады</h3>
        </div>
        <div class="caption-separator">
        </div>
        <div class="caption-text">
          <span>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</span>
        </div>
      </div>
    </div>
    <div class="section-promo__bottom">
      <div class="product-wrapper">
        <div class="product" id="1">
          <div class="product-img">
            <img src="../img/lemonade-1.png" alt="product">
          </div>
          <button class="product-btn btn-reset">
            <span class="product-btn__icon"></span>
          </button>
        </div>
        <div class="product" id="2">
          <div class="product-img">
            <img src="../img/lemonade-2.png" alt="product">
          </div>
          <button class="product-btn btn-reset">
            <span class="product-btn__icon"></span>
          </button>
        </div>
        <div class="product" id="3">
          <div class="product-img">
            <img src="../img/lemonade-3.png" alt="product">
          </div>
          <button class="product-btn btn-reset">
            <span class="product-btn__icon"></span>
          </button>
        </div>
        <div class="product" id="4">
          <div class="product-img">
            <img src="../img/lemonade-4.png" alt="product">
          </div>
          <button class="product-btn btn-reset">
            <span class="product-btn__icon"></span>
          </button>
        </div>
        <div class="product" id="5">
          <div class="product-img">
            <img src="../img/lemonade-5.png" alt="product">
          </div>
          <button class="product-btn btn-reset">
            <span class="product-btn__icon"></span>
          </button>
        </div>
        <div class="product" id="6">
        <div class="product-img">
          <img src="../img/lemonade-6.png" alt="product">
        </div>
        <button class="product-btn btn-reset">
          <span class="product-btn__icon"></span>
        </button>
      </div>
      </div>
      <div class="product-button-prev">
        <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect y="12" width="16" height="2" transform="rotate(-45 0 12)" fill="black"/>
          <rect x="1.41406" y="10.5859" width="16" height="2" transform="rotate(45 1.41406 10.5859)" fill="black"/>
        </svg>

      </div>
      <div class="product-button-next">
        <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="23" y="12" width="16" height="2" transform="rotate(135 23 12)" fill="black"/>
          <rect x="21.5859" y="13.4141" width="16" height="2" transform="rotate(-135 21.5859 13.4141)" fill="black"/>
        </svg>
      </div>
    </div>
  </div>
  <div class="product-promo" data-product="1">
    <div class="product-promo__caption">
      <h3>клубника банан</h3>
      <div class="caption-text-top">
        <p>Это редкое сочетание превосходного вкуса сладкой клубники и банана, поможет окунуться в мир воспоминаний, самая “сладкая парочка” из всех вкусов Love is...</p>
      </div>
      <div class="caption-text-bottom">
        <p>Love is... со вкусом клубники и банана на 100% натуральный. Приятный тандем фруктов вас удивит!</p>
      </div>
    </div>
    <div class="product-promo__img">
      <img src="../img/product-promo.png" alt="product-promo">
    </div>
    <div class="product-promo__labels">
      <div class="product-promo__labels-logos">
        <img src="../img/vegan.svg" alt="logo">
        <img src="../img/new.svg" alt="logo">
      </div>
      <ul class="product-promo__labels-list">
        <li>натуральные ингредиенты</li>
        <li>содержит натуральный сок</li>
      </ul>
    </div>
  </div>
  <div class="product-promo" data-product="2">
    <div class="product-promo__caption">
      <h3>клубника банан</h3>
      <div class="caption-text-top">
        <p>Это редкое сочетание превосходного вкуса сладкой клубники и банана, поможет окунуться в мир воспоминаний, самая “сладкая парочка” из всех вкусов Love is...</p>
      </div>
      <div class="caption-text-bottom">
        <p>Love is... со вкусом клубники и банана на 100% натуральный. Приятный тандем фруктов вас удивит!</p>
      </div>
    </div>
    <div class="product-promo__img">
      <img src="../img/product-promo.png" alt="product-promo">
    </div>
    <div class="product-promo__labels">
      <div class="product-promo__labels-logos">
        <img src="../img/vegan.svg" alt="logo">
        <img src="../img/new.svg" alt="logo">
      </div>
      <ul class="product-promo__labels-list">
        <li>натуральные ингредиенты</li>
        <li>содержит натуральный сок</li>
      </ul>
    </div>
  </div>
  <div class="product-promo" data-product="3">
    <div class="product-promo__caption">
      <h3>клубника банан</h3>
      <div class="caption-text-top">
        <p>Это редкое сочетание превосходного вкуса сладкой клубники и банана, поможет окунуться в мир воспоминаний, самая “сладкая парочка” из всех вкусов Love is...</p>
      </div>
      <div class="caption-text-bottom">
        <p>Love is... со вкусом клубники и банана на 100% натуральный. Приятный тандем фруктов вас удивит!</p>
      </div>
    </div>
    <div class="product-promo__img">
      <img src="../img/product-promo.png" alt="product-promo">
    </div>
    <div class="product-promo__labels">
      <div class="product-promo__labels-logos">
        <img src="../img/vegan.svg" alt="logo">
        <img src="../img/new.svg" alt="logo">
      </div>
      <ul class="product-promo__labels-list">
        <li>натуральные ингредиенты</li>
        <li>содержит натуральный сок</li>
      </ul>
    </div>
  </div>
  <div class="product-promo" data-product="4">
    <div class="product-promo__caption">
      <h3>клубника банан</h3>
      <div class="caption-text-top">
        <p>Это редкое сочетание превосходного вкуса сладкой клубники и банана, поможет окунуться в мир воспоминаний, самая “сладкая парочка” из всех вкусов Love is...</p>
      </div>
      <div class="caption-text-bottom">
        <p>Love is... со вкусом клубники и банана на 100% натуральный. Приятный тандем фруктов вас удивит!</p>
      </div>
    </div>
    <div class="product-promo__img">
      <img src="../img/product-promo.png" alt="product-promo">
    </div>
    <div class="product-promo__labels">
      <div class="product-promo__labels-logos">
        <img src="../img/vegan.svg" alt="logo">
        <img src="../img/new.svg" alt="logo">
      </div>
      <ul class="product-promo__labels-list">
        <li>натуральные ингредиенты</li>
        <li>содержит натуральный сок</li>
      </ul>
    </div>
  </div>
  <div class="product-promo" data-product="5">
    <div class="product-promo__caption">
      <h3>клубника банан</h3>
      <div class="caption-text-top">
        <p>Это редкое сочетание превосходного вкуса сладкой клубники и банана, поможет окунуться в мир воспоминаний, самая “сладкая парочка” из всех вкусов Love is...</p>
      </div>
      <div class="caption-text-bottom">
        <p>Love is... со вкусом клубники и банана на 100% натуральный. Приятный тандем фруктов вас удивит!</p>
      </div>
    </div>
    <div class="product-promo__img">
      <img src="../img/product-promo.png" alt="product-promo">
    </div>
    <div class="product-promo__labels">
      <div class="product-promo__labels-logos">
        <img src="../img/vegan.svg" alt="logo">
        <img src="../img/new.svg" alt="logo">
      </div>
      <ul class="product-promo__labels-list">
        <li>натуральные ингредиенты</li>
        <li>содержит натуральный сок</li>
      </ul>
    </div>
  </div>
  <div class="product-promo" data-product="6">
    <div class="product-promo__caption">
      <h3>клубника банан</h3>
      <div class="caption-text-top">
        <p>Это редкое сочетание превосходного вкуса сладкой клубники и банана, поможет окунуться в мир воспоминаний, самая “сладкая парочка” из всех вкусов Love is...</p>
      </div>
      <div class="caption-text-bottom">
        <p>Love is... со вкусом клубники и банана на 100% натуральный. Приятный тандем фруктов вас удивит!</p>
      </div>
    </div>
    <div class="product-promo__img">
      <img src="../img/product-promo.png" alt="product-promo">
    </div>
    <div class="product-promo__labels">
      <div class="product-promo__labels-logos">
        <img src="../img/vegan.svg" alt="logo">
        <img src="../img/new.svg" alt="logo">
      </div>
      <ul class="product-promo__labels-list">
        <li>натуральные ингредиенты</li>
        <li>содержит натуральный сок</li>
      </ul>
    </div>
  </div>
</section>

